.Auth .inner {
        .Contain {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    
        .icon {
            margin-top: 2rem;
    
            svg {
            width: 32px;
            height: 32px;
            }
        }
    
        h1 {
            padding-top: 5rem;
            color: #2D333A;
            font-size: 32px;
        }
    
        p {
            margin-top: .5rem;
            font-size: 12.75px;
            line-height: 1.5rem;
            width: calc(18rem + 33px);
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    
        //Input Effect
    
        .labelEffect {
            color: #6f7780;
            position: absolute;
            padding-left: 16px;
            padding-top: 16px;
            border: none;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
    
        .active-label-green {
            color: #191949;
        }
    
        .active-label {
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 0;
            margin-left: 10px;
            margin-top: -10px;
            background: white;
        }
    
        .warning-label {
            color: red !important;
        }
    
        .inputEffect {
            height: 52px;
            color: #2d333a;
            border: 1px solid #c2c8d0;
            position: relative;
            background: transparent;
            border-radius: 3px;
            line-height: 1.1;
            outline: none;
            font-size: 16px;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
    
        .active-input-green {
            border-color: #191949;
        }
    
        .active-input {
            position: static;
        }
    
        .warning-input {
            border-color: red !important;
        }
    
        .error {
            margin-top: 5px;
            text-align: start;
            color: red;
            font-size: 12px;
            display: flex;
            flex-direction: row;
    
            div {
            display: flex;
            flex-direction: column;
            height: 1rem;
            width: 1rem !important;
            color: white;
            background: red;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 5px;
            }
        }
    
        //Input Effect
    
        .options {
            .manual {
            margin-top: 2em;
    
            div {
                position: relative;
    
                input {
                width: 18rem;
                padding-left: 16px;
                padding-right: 16px;
    
                @media screen and (max-width:340px) {
                    width: calc(100% - 16px);
                    padding-right: 0px;
                }
            }

            @keyframes border-animation {
                0% {
                    border-color: transparent transparent transparent rgb(248, 245, 245);
                }
                25% {
                    border-color: transparent transparent rgb(224, 203, 203) transparent;
                }
                50% {
                    border-color: transparent rgb(212, 159, 159) transparent transparent;
                }
                75% {
                    border-color: rgb(202, 120, 120) transparent transparent transparent;
                }
                100% {
                    border-color: transparent transparent transparent red;
                }
            }

            .continue-button {
                text-align: center;
                height: 45px;
                width: 100%;
                margin-top: 1.5rem;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 16px;
                position: relative;
                padding: 10px 20px;
                background-color: #0a1031;
                color: white;
                border: 6px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }

            .continue-button:hover {
                background-color: #0a1031;
            }

        }
        }

        .extra {
        margin-bottom: 6rem;

        .divide {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #c2c8d0;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                padding: 0 10px;
                position: absolute;
                color: #2D333A;
                font-size: 12px;
                background: #FFFFFF;
            }
        }

        .btns {
            display: flex;
            flex-direction: column;
            align-items: start;

            button {
                outline: none;
                text-align: start;
                width: calc(18rem + 33px);
                height: 52px;
                padding-left: calc(16px + 2rem);
                padding-right: 16px;
                margin-bottom: .5rem;
                position: relative;
                color: #2D333A;
                font-size: 16px;
                border: 1px solid #c2c8d0;
                border-radius: 3px;
                background: #FFFFFF;
                transition: all .1s ease-in-out;
                -moz-transition: all .1s ease-in-out;

            @media screen and (max-width:340px) {
                width: 100%;
            }

            svg {
                top: 30%;
                left: 16px;
                position: absolute;
                width: 20px;
                height: 20px;
            }

            &:hover {
                background: rgba(0, 0, 0, .1);
                cursor: pointer;
            }
            }
            }
            }
        }

    div[data-for="acc-sign-up-login"] {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        span,
        a {
            font-size: 12px;
            text-decoration: none;
            }
    
            span {
            color: #2D333A;
            padding-right: 3px;
            }
    
            a {
            color: #191949;
            padding: 5px 5px;
            border-radius: 3px;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
    
            &:focus {
                background: rgba(0, 123, 173, .15);
            }
            }
        }
    
        .Form {
            margin-top: 1rem;
    
            .email {
            position: relative;
    
            input {
            height: 52px;
            width: 18rem;
            padding-left: 16px;
            padding-right: 16px;
            color: #2d333a;
            border: 1px solid #c2c8d0;
            background: white;
            border-radius: 3px;
            line-height: 1.1;
            outline: none;
            font-size: 16px;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
    
                @media screen and (max-width:340px) {
                width: calc(100% - 16px);
                padding-right: 0px;
                }
            }
    
            @keyframes border-animation {
                0% {
                    border-color: transparent transparent transparent rgb(248, 245, 245);
                }
                25% {
                    border-color: transparent transparent rgb(224, 203, 203) transparent;
                }
                50% {
                    border-color: transparent rgb(212, 159, 159) transparent transparent;
                }
                75% {
                    border-color: rgb(202, 120, 120) transparent transparent transparent;
                }
                100% {
                    border-color: transparent transparent transparent red;
                }
            }

            .continue-button {
                text-align: center;
                height: 45px;
                width: 100%;
                margin-top: 1.5rem;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 16px;
                position: relative;
                padding: 10px 20px;
                background-color: #0a1031;
                color: white;
                border: 6px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }

            .continue-button:hover {
                background-color: #0a1031;
            }
    
                &:focus {
                background: rgba(0, 123, 173, .15);
                }
            }
            
    
            .password {
            margin-top: .8rem;
            position: relative;
    
            input {
                width: calc((18rem + 16px) - 4rem);
                padding-left: 16px;
                padding-right: 4rem;
    
                @media screen and (max-width:340px) {
                width: calc((100%) - (4rem + 16px));
                }
            }
    
            @keyframes border-animation {
                0% {
                    border-color: transparent transparent transparent rgb(248, 245, 245);
                }
                25% {
                    border-color: transparent transparent rgb(224, 203, 203) transparent;
                }
                50% {
                    border-color: transparent rgb(212, 159, 159) transparent transparent;
                }
                75% {
                    border-color: rgb(202, 120, 120) transparent transparent transparent;
                }
                100% {
                    border-color: transparent transparent transparent red;
                }
            }

            .continue-button {
                text-align: center;
                height: 45px;
                width: 100%;
                margin-top: 1.5rem;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 16px;
                position: relative;
                padding: 10px 20px;
                background-color: #0a1031;
                color: white;
                border: 6px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }

            .continue-button:hover {
                background-color: #0a1031;
            }
        }

        .otp {
            margin-top: .8rem;
            position: relative;
    
            input {
            width: calc((18rem + 16px) - 4rem);
            padding-left: 16px;
            padding-right: 4rem;
    
                @media screen and (max-width:340px) {
                width: calc((100%) - (4rem + 16px));
                }
            }
    
            @keyframes border-animation {
                0% {
                    border-color: transparent transparent transparent rgb(248, 245, 245);
                }
                25% {
                    border-color: transparent transparent rgb(224, 203, 203) transparent;
                }
                50% {
                    border-color: transparent rgb(212, 159, 159) transparent transparent;
                }
                75% {
                    border-color: rgb(202, 120, 120) transparent transparent transparent;
                }
                100% {
                    border-color: transparent transparent transparent red;
                }
            }

            .continue-button {
                text-align: center;
                height: 45px;
                width: 100%;
                margin-top: 1.5rem;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 16px;
                position: relative;
                padding: 10px 20px;
                background-color: #0a1031;
                color: white;
                border: 6px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }

            .continue-button:hover {
                background-color: #0a1031;
            }
            }
    
            #alertBox {
            display: none;
            margin-top: .5rem;
            text-align: left;
            align-items: start;
            border: 1px solid #c2c8d0;
            border-radius: 3px;
            padding: 1rem;
            font-size: 12px;
            color: #2D333A;
    
            p {
                display: none;
                width: auto !important;
                text-align: left !important;
                color: #2D333A;
            }
    
            #passAlertDone {
                padding-left: .5rem;
                position: relative;
                color: #191949 !important;
    
                svg {
                position: absolute;
                left: 0;
                top: 6px;
                color: rgba(16, 163, 127, 1);
                }
            }
    
            .active {
                display: block !important;
            }
            }
    
            .forgot {
            margin-top: 1rem;
    
            a {
                color: #191949;
                padding: 5px 5px;
                border-radius: 3px;
                font-size: 12px;
                text-decoration: none;
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
    
                &:focus {
                background: rgba(0, 123, 173, .15);
                }
            }
            }
    
            @keyframes border-animation {
                0% {
                border-color: transparent transparent transparent red;
                }
                25% {
                border-color: transparent transparent red transparent;
                }
                50% {
                border-color: transparent red transparent transparent;
                }
                75% {
                border-color: red transparent transparent transparent;
                }
                100% {
                border-color: transparent transparent transparent red;
                }
            }
            
            .continue-button {
                position: relative;
                padding: 10px 20px;
                background-color: #4CAF50; /* Green background */
                color: white; /* White text */
                border: 2px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }
            
            .continue-button:hover {
                background-color: #45a049; /* Darker green */
            }
            
    
            div[data-for="acc-sign-up-login"] {
            margin-bottom: 5rem;
            }
    
            .emailForgot {
            input {
                width: 18rem;
                padding-left: 16px;
                padding-right: 16px;
    
                @media screen and (max-width:340px) {
                width: calc(100% - 16px);
                padding-right: 0px;
                }
            }
    
            .error {
                margin-top: 5px;
                text-align: start;
                color: red;
                font-size: 12px;
                display: flex;
                flex-direction: row;
    
                div {
                display: flex;
                flex-direction: column;
                height: 1rem;
                width: 1rem !important;
                color: white;
                background: red;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 5px;
                }
            }
            }
    
            .back {
            width: 100%;
            text-align: center;
            border: none;
            background: none;
            font-size: 12px;
            margin-top: 1rem;
            margin-bottom: 7rem;
            cursor: pointer;
            color: #191949;
            }
        }
    
        .mail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .icon {
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 3px solid #191949;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
    
            svg {
                width: 3rem;
                height: 3rem;
                fill: #191949 !important;
            }
            }
    
            h3 {
            font-weight: normal;
            font-size: 25px;
            color: #2D333A;
            margin-top: 2rem;
            }
    
            p {
            color: #2D333A;
            font-size: 12px;
            line-height: 1.5rem;
            }
    
            @keyframes border-animation {
                0% {
                    border-color: transparent transparent transparent rgb(248, 245, 245);
                }
                25% {
                    border-color: transparent transparent rgb(224, 203, 203) transparent;
                }
                50% {
                    border-color: transparent rgb(212, 159, 159) transparent transparent;
                }
                75% {
                    border-color: rgb(202, 120, 120) transparent transparent transparent;
                }
                100% {
                    border-color: transparent transparent transparent red;
                }
            }

            .continue-button {
                text-align: center;
                height: 45px;
                width: 100%;
                margin-top: 1.5rem;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 16px;
                position: relative;
                padding: 10px 20px;
                background-color: #0a1031;
                color: white;
                border: 6px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }

            .continue-button:hover {
                background-color: #0a1031;
            }
        }
    
        .pendings {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
    
            .fullName {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            gap: 10px;
    
            input {
                max-width: 8rem;
                height: 45px;
                border: 1px solid #c2c8d0;
                width: auto;
                line-height: 24px;
                color: #2D333A;
                font-size: 16px;
                padding-left: 16px;
                border-radius: 3px;
                outline: none;
    
                &:focus {
                outline-style: auto;
                outline-color: #191949;
                outline-width: 2px;
                }
            }
            }

            
    
            @keyframes border-animation {
                0% {
                border-color: transparent transparent transparent red;
                }
                25% {
                border-color: transparent transparent red transparent;
                }
                50% {
                border-color: transparent red transparent transparent;
                }
                75% {
                border-color: red transparent transparent transparent;
                }
                100% {
                border-color: transparent transparent transparent red;
                }
            }
            
            .continue-button {
                position: relative;
                padding: 10px 20px;
                background-color: #4CAF50; /* Green background */
                color: white; /* White text */
                border: 2px solid transparent;
                cursor: pointer;
                outline: none;
                font-size: 16px;
                animation: border-animation 4s linear infinite;
                transition: background-color 0.3s, color 0.3s;
            }
            
            .continue-button:hover {
                background-color: #45a049; /* Darker green */
            }
            
    
            p {
            text-align: center;
            max-width: 18rem;
            margin-top: 1rem;
            line-height: 24px;
            font-size: 12px;
            color: #6f7780;
    
            span {
                color: #191949;
            }
            }
        }
    }
}
